body {
    margin: 0;
    padding: 0;
    /* background-image: url(http://marcialocacoescdn.azureedge.net/marcialocacoes/c5598884-2e23-4e3d-833b-bb877492c57f.jpg); */
}

.imagem-fundo img {
    width: 100%;
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;

    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    padding-top: 40px;
    padding-bottom: 40px;
}

.container {
    z-index: 2;

    padding: 30px;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    background: rgb(225, 225, 225);
    border-radius: 10px;
    width: 300px;
    height: 400px;
    text-align: center;
}

.logo img {
    width: 70px;
}

.button-lembrar button {
    color: gray;
    padding-top: 10px;
    background-color: rgb(255, 255, 255);
    height: 10px;
}

/* button {
    height: 10px;
} */
